{% extends "base.html" %}
{% block content %}


<div class='col-sm-6 col-sm-offset-3'>
    <h1>{{ title }}</h1>
<form method='GET' action=''>
    <div class='input-group'>
        <input class='form-control' type='text' name='q' placeholder='Search Daily Specials' value='{{ request.GET.q }}'/>
        <span class='input-group-btn'>
        <input class='btn btn-default' type='submit' value='Search' />
        </span>
    </div>
</form>
{% for obj in object_list %}
    <div class="row">
      <div class="col-sm-12">
        <div class="thumbnail">
            {% if obj.image %}
             <img src='{{ obj.image.url }}' alt='{{ obj.alt_text }}' class='img-responsive' />
            {% endif %}
          <div class="caption">
            {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
            <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.name }}</a></h3>
            <p>{{ obj.get_description|linebreaks|truncatechars:120 }}</p>
            <p><a href="{{ obj.get_absolute_url }}" class="btn btn-info" role="button">View</a></p>
          </div>
        </div>
      </div>
    <hr/>
    </div>
{% endfor %}

{% for neighborhoods in neighborhood_set %}
{% if neighborhoods.place_set.count > 0 %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="{{ neighborhoods.name }}">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ neighborhoods.id }}" aria-expanded="false" aria-controls="{{ neighborhoods.id }}">
                {{ neighborhoods.name }}
              </a>
            </h4>
          </div>             
          <div id="{{ neighborhoods.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ neighborhoods.name }}">

              <div class="panel-body">
                {% for place in neighborhoods.place_set.all %}
				{% if not place.draft %}
                <div class="thumbnail">
                    {% if place.image %}
                     <img src='{{ place.image.url }}' alt='{{ place.alt_text }}' class='img-responsive' />
                    {% endif %}
                  <div class="caption">
                    <h3><a href='{{ place.get_absolute_url }}'>{{ place.name }}</a></h3>
                    <p>{{ place.get_description|linebreaks|truncatechars:120 }}</p>
                    <p><a href="{{ place.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
                  </div>
                </div>
				{% endif %}
                {% endfor %}
                
                
              </div>
          </div>
        </div>
        
    </div>
{% endif %}	
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div> 
</div>

{% endblock content %}


