{% extends "base.html" %}
{% block content %}
</br>
<p><a type="button" class="btn btn-lg btn-info" href="{% url 'events:neighborhood_create' %}">Add New Neighborhoods</a></p>
<div class='col-sm-6 col-sm-offset-3'>
    <h1>{{ title }}</h1>
<form method='GET' action=''>
    <div class='input-group'>
        <input class='form-control' type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
        <span class='input-group-btn'>
        <input class='btn btn-default' type='submit' value='Search' />
        </span>
    </div>
</form>
{% for obj in object_list %}
<div class="row">
    <div class="col-sm-9">
        <h3><a href="{% url 'events:neighborhood_update' pk=obj.pk %}">{{ obj.name }}</a></h3>
    </div>
    <div class="col-sm-3">
        <a type="button" class="btn btn-sm btn-danger" href="{% url 'events:neighborhood_delete' pk=obj.pk %}">Delete Neighborhood</a>
    </div>
  </div>
<hr/>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>


</div>

{% endblock content %}