{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}
{{ instance.name }} | {{ block.super }}
{% endblock head_title %}



{% block content %}
{% if request.user.is_staff or request.user.is_superuser %}
<div class="row">
  </br>
  <div class='col-sm-3'>
  <h4>{{ instance.address|linebreaks }}</h4>	
  </div>
  <div class='col-lg-6'>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Add Happy Hour or Special</button>
  <a type="button" class="btn btn-sm btn-info" href="{% url 'events:place_update' slug=instance.slug %}">Edit Location</a>
  </div>
  <div class='col-sm-3'>
  <a type="button" class="btn btn-sm btn-danger" href="{% url 'events:place_delete' slug=instance.slug %}">Delete Location</a>
	<div class="modal fade bs-example-modal-lg" id="EventModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form id ='sendForm' method='POST' action='{% url "ajax_event_create"  %}' enctype='multipart/form-data'>{% csrf_token %}
			<p id='modalMessage'></p>
	
			{{ form.location.as_hidden }}
			<div class="row">
			  <div class='col-sm-6'>
			  <h4>{{ form.name|as_crispy_field }}</h4>
			  </div>
			  <div class='col-sm-3'>
			  <h4>{{ form.featured|as_crispy_field }}</h4>
			  <h4>{{ form.sponsored|as_crispy_field }}</h4>
			  </div>
			  <div class='col-sm-3'>
			  <h4>{{ form.happy_hour|as_crispy_field }}</h4>
			  <h4>{{ form.special|as_crispy_field }}</h4>
			  </div>
			</div>
			<div class="row">
			  <div class='col-sm-6'>
			  <h4>{{ form.special_type|as_crispy_field }}</h4>
			  </div>
			  <div class='col-sm-4'>
			  <h4>{{ form.day|as_crispy_field }}</h4>
			  </div>
			</div>
			<div class="row">
			  <div class='col-sm-6'>  
			  <h4>{{ form.time_start|as_crispy_field }}</h4>
			  </div>
			  <div class='col-sm-6'>
			  <h4>{{ form.time_end|as_crispy_field }}</h4>
			  </div>
			</div> 
			<h4>{{ form.description|as_crispy_field }}</h4>
					  
			<input type='submit' class='btn btn-default' value='Save' id='sendEventForm' />
			</form>
		</div>
	  </div>
	</div>

  </div>
</div>
<hr/>
</br>
{% endif %}
<div class='col-sm-10 col-sm-offset-1'>
<div class='row'>
<div class='col-sm-12'>


    {% if instance.image %}
	</br>
    <img src='{{ instance.image.url }}' alt='{{ instance.alt_text }}' class='img-responsive' />
    {% endif %}
<h1>{{ title }}</h1>	
<div class='content-markdown'>{{ instance.get_description }}</div>
<div class='content-markdown'>{{ instance.get_markdown }}</div>
<hr/>
<br/>
<h1>Happy Hours</h1>
{% for event in instance.event_set.hour %}
<div class="row">
  <div class='col-lg-8'>
  <p id='text-content'><h3>{{ event.get_markdown }}</p></h3>
  <span><p>{{ event.time_start }} -  {{ event.time_end }}</p></span>
  </div>
  {% if request.user.is_staff or request.user.is_superuser %}
  <div class='col-sm-2'>
  <a type="button" class="btn btn-sm btn-default" href="{% url 'events:events_update' slug=instance.slug pk=event.pk %}">Edit Event</a>
  </div>
  <div class='col-sm-2'>
  <a type="button" class="btn btn-sm btn-danger" href="{% url 'events:events_delete' slug=instance.slug pk=event.pk %}">Delete Happy Hour</a>
  </div>
  {% endif %}
</div>
{% endfor %}
<hr/>
{% if instance.event_set.special.count > 0 %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab" id="headingOne">
		<h4 class="panel-title">
		  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
			<h4>Specials</h4>
		  </a>
		</h4>
	  </div>             
	  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		  <div class="panel-body">
			{% for event in instance.event_set.special %}
			
			<div class="thumbnail">
			  <div class="caption">
				  <h3>{{ event.get_markdown }}</h3>
				  <span><p>{{ event.time_start }} - 	{{ event.time_end }}</p></span>
				{% if request.user.is_staff or request.user.is_superuser %}
				<div class="row">
				  <div class='col-sm-3'>
				  <a type="button" class="btn btn-sm btn-default" href="{% url 'events:events_update' slug=instance.slug pk=event.pk %}">Edit Event</a>
				  </div>
				  <div class='col-sm-3'>
				  <a type="button" class="btn btn-sm btn-danger" href="{% url 'events:events_delete' slug=instance.slug pk=event.pk %}">Delete Happy Hour</a>
				  </div>
				</div>  
				{% endif %}
			  </div>
			</div>
			{% endfor %}             
		  </div>
	  </div>
	</div>
</div>
{% endif %}
</br>
</br>
</br>
</div>
</div>
</div>
<script>
$(document).ready(function(){           
	$("#sendEventForm").click(function(e){
		e.preventDefault()    
		var mForm = $("#sendForm").serialize();
		$.ajax({
			type: "POST",
			url: "{% url 'ajax_event_create'  %}",
			data: mForm,              
			success: function(data){
				console.log(data)
				$("#modalMessage").html("<p>This was Successful</p>")
				   $("#EventModal").modal("hide")
				  location.reload()
			},
			error: function(data){ 
				var obj = data.responseJSON
				console.log(obj)
				$("#modalMessage").html("<p>Please Fill out All Fields!</p>");
			}
		});
			
	});
  });        
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83948604-1', 'auto');
  ga('send', 'pageview');

</script>

{% endblock content %}

{% block jquery %}
$(".content-markdown").each(function(){
        var content = $(this).text()
        var markedContent = marked(content)
        $(this).html(markedContent)
})
function setContent(value){
    var markedContent = marked(value)
    $("#content-markdown").html(markedContent)
}
{% endblock %}