{% extends "base.html" %}
{% block content %}
</br>
<p><a type="button" class="btn btn-lg btn-info" href="{% url 'events:place_create' %}">Add New Places</a></p>

<div class='col-sm-6 col-sm-offset-3'>
    <h1>{{ title }}</h1>
<form method='GET' action=''>
    <div class='input-group'>
        <input class='form-control' type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
        <span class='input-group-btn'>
        <input class='btn btn-default' type='submit' value='Search' />
        </span>
    </div>
</form>
<div class="table-responsive">
  <table id="table" class="table table-striped"> 
    <thead>       
      <tr>
        <th>Name</th>
        <th>Neighborhood</th>
        <th>Address</th>
        <th>Description</th>
      </tr>   
    </thead>
{% for object in object_list %}        
      <tr>
        <td><a href='{{ object.get_absolute_url }}'>{{ object.name }}</a></td>
        <td>{{ object.neighborhood }}</td>
        <td>{{ object.address }}</td>
        <td>{{ object.description|truncatechars:140  }}</td>       
      </tr>
</div>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>




</div>

{% endblock content %}
