{% extends "base.html" %}
{% block content %}
</br>
<p><a type="button" class="btn btn-lg btn-info" href="{% url 'events:special_type_create' %}">Add New Special Categories</a></p>
<div class='col-sm-6 col-sm-offset-3'>
    <h1>{{ title }}</h1>
{% for obj in object_list %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="{{ obj.special_type }}">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ obj.id }}" aria-expanded="false" aria-controls="{{ obj.id }}">
                {{ obj.special_type }}
              </a>
            </h4>
          </div>             
          <div id="{{ obj.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ obj.special_type }}">

              <div class="panel-body">
                <div class="thumbnail">
                  <div class="caption">
                    <p>{{ obj.notes }}</p>
                    <div class="row">
                        <div class='col-sm-3'>
                            <a type="button" class="btn btn-sm btn-info" href="{% url 'events:special_type_update' pk=obj.pk %}">Edit</a>
                        </div>
                        <div class='col-sm-3'>
                            <a type="button" class="btn btn-sm btn-danger" href="{% url 'events:special_type_delete' pk=obj.pk %}">Delete Special Type</a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
{% endfor %}





</div>

{% endblock content %}