
{% extends "base.html" %}
{% load urlify %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}


{% block content %}
{% if request.user.is_staff or request.user.is_superuser %}
</br>
<a type="button" class="btn btn-sm btn-info" href="{% url 'posts:update' slug=instance.slug %}">Edit Post</a>
<a type="button" class="btn btn-sm btn-danger" href="{% url 'posts:delete' slug=instance.slug %}">Delete Post</a>

{% endif %}


<div class='col-sm-10 col-sm-offset-1'>
    {% if instance.image %}
    <img src='{{ instance.image.url }}' alt='{{ instance.alt_text }}' class='img-responsive' />
    {% endif %}
<h1>{{ title }} <small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}</small></h1>
<p>Read time: {% if instance.read_time <= 1 %} < 1 Minute {% else %}{{ instance.read_time }} minutes {% endif %}</p>
{% if instance.user.get_full_name %}
<p>Author: {{ instance.user.get_full_name }}</p>
{% endif %}

<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
<a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
<hr/>
</p>

<div class='row'>
<div class='col-sm-12'>

 <div class='content-markdown post-detail-item'>{{ instance.get_markdown }}</div>

<hr/>
<br/>
<!--<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>-->

</div>
</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83948604-1', 'auto');
  ga('send', 'pageview');

</script>

{% endblock content %}

{% block jquery %}
$(".content-markdown").each(function(){
        var content = $(this).text()
        var markedContent = marked(content)
        $(this).html(markedContent)
})
function setContent(value){
    var markedContent = marked(value)
    $("#content-markdown post-detail-item").html(markedContent)
}
{% endblock %}