{% extends "base.html" %}
{% block content %}
{% if request.user.is_staff or request.user.is_superuser %}
	<p><a type="button" class="btn btn-lg btn-info" href="{% url 'about:create' %}">Add New About Section</a></p>
	<div class='col-sm-12'>
{% endif %}	
<div class='col-sm-12'>
    <h1>{{ title }}</h1>
	{% for obj in object_list %}
		{% if obj.align %}
			<div class="row">
				<div class="col-sm-5">
					{% if obj.image %}
					 <img src='{{ obj.image.url }}' alt='{{ obj.alt_text }}' class='img-responsive' />
					{% endif %}
				</div>
				<div class="col-sm-7">	
				  <div class="caption post-detail-item">
					{% if request.user.is_staff or request.user.is_superuser %}
					<h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></h3>
					{% else %}
					<h3>{{ obj.title }}</h3>
					{% endif %}
					{{ obj.get_markdown }}
				  </div>
				</div>
			</div>
			</br>
			<hr/>
		{% else %}
			<div class="row">
				<div class="col-sm-7">	
				  <div class="caption post-detail-item">
					{% if request.user.is_staff or request.user.is_superuser %}
					<h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></h3>
					{% else %}
					<h3>{{ obj.title }}</h3>
					{% endif %}
					{{ obj.get_markdown }}
				  </div>
				</div>
				<div class="col-sm-5">
					{% if obj.image %}
					 <img src='{{ obj.image.url }}' alt='{{ obj.alt_text }}' class='img-responsive' />
					{% endif %}
				</div>
			</div>
			</br>
			<hr/>
		{% endif %}
	{% endfor %}
</div>		
{% endblock content %}