{% extends "base.html" %}

{% block head_title %}
{{ instance.name }} | {{ block.super }}
{% endblock head_title %}



{% block content %}
<a type="button" class="btn btn-sm btn-info" href="{% url 'about:update' pk=instance.pk %}">Edit Section</a>
<a type="button" class="btn btn-sm btn-danger" href="{% url 'about:delete' pk=instance.pk %}">Delete Section</a>
<div class='col-sm-6 col-sm-offset-3'>


<div class='row'>
<div class='col-sm-12'>


{{ instance.title|linebreaks }}
{{ instance.content|linebreaks }}
<hr/>
<br/>

</div>
</div>
</div>


{% endblock content %}