
{% include 'javascript.html' %}
{% include 'head_css.html' %}

{% load staticfiles %}
<!--DOCTYPE html -->
<html>
   
<head>
<title>{% block head_title %}Happy Hour Hounds{% endblock head_title %}</title>

<style>
{% block styles %}




{% endblock %}
</style>
{% block head_extra %} {% endblock head_extra %}
</head>

 




  <div id="navbar-border" class="container">
	<div id="header-item">
		<img src="{% static 'img/HappyHourHeader.jpg' %}" alt="Happy Hour Hounds Logo" width=100%/>
	</div>	
    <!-- Static navbar -->
    <nav  class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button id="navbar-toggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
			<li id="fetch-box"><a href="{% url 'fetch_near' %}" >Fetch</a></li>
            <li><a href="{% url 'events:happyhour_list' %}">Happy Hours</a></li>           
            <li><a href="{% url 'events:specials_list' %}">Specials</a></li>
            <li><a href="{% url 'posts:event_list' %}">Events</a></li>
             <li><a href="{% url 'posts:list' %}">Blog</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'about:list' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
	{% if request.user.is_staff or request.user.is_superuser %}
    <nav  class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button id="navbar-toggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'posts:create' %}">New Posts</a></li>
            <li><a href="{% url 'events:place_list' %}">Restaurants</a></li>
            <li><a href="{% url 'events:neighborhood_list' %}">Neighborhoods</a></li>
			<li><a href="{% url 'events:special_type_list' %}">Types of Daily Specials</a></li>
			<li><a href="{% url 'account_logout' %}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->  
    </nav>
	{% endif %}	
</div>  
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



{% include "messages_display.html" %}
<div id="main" class='container'>
{% block content %}{% endblock %}
</div>


{% block script %}


{% endblock %}

<script>
$(document).ready(function(){
            {% block jquery %}
            {% endblock %}
         });
</script>





  </body>
</html>

