{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<h1>Contact Us</h1>

<!--<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form|crispy }}

<input type='submit' class='btn btn-default' value='Send' />
</form>-->
<p><h4>Email us at: socialmedia@happyhourhounds.com</h4></p>
</div>

{% endblock content %}