{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<h1>Create or Edit New Object</h1>

<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form|crispy }}

<input type='submit' class='btn btn-default' value='Save' />
</form>
</div>

{% endblock content %}
