{% load staticfiles %}

<!-- Bootstrap core CSS -->
<!--<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">



<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">-->
<!-- Latest compiled and minified CSS -->


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Custom styles for this template-->
<link href={% static 'css/navbar.css' %} rel="stylesheet">
<link href={% static 'css/carousel.css' %} rel="stylesheet">
<link href={% static 'css/custom.css' %} rel="stylesheet">
<link href={% static 'css/bootstrap-datetimepicker.css' %} rel="stylesheet">
<link href={% static 'css/datetimepicker.css' %} rel="stylesheet">
<link href={% static 'css/datetimepicker.css' %} rel="stylesheet">