{% extends "base.html" %}
{% load staticfiles %}


{% block styles %}


{% endblock %}

{% block content %}
</br>
</br>
</br>
<div class="row">
  <div class="container" >
    <div class="col-md-6 col-lg-6 col-sm-6">
			<div class="jumbotron">
          <div id="jumbotron-text">
          <h2>Find Happy Hours and Specials Happening Now</h2>
          </div>
          </br>
          </br>
          </br>
          <p>
            <a class="btn btn-lg btn-info" href="{% url 'fetch_near' %}" role="button">Go Fetch!</a>
          </p>
      </div>
    </div>

    <!-- Carousel
    ================================================== -->
    <div class="col-md-6 col-lg-6 col-sm-6">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
									{% if sponsored %}
										{% for sponsored_item in sponsored %}
										  {% if sponsored_item.image %}
												<img src='{{ sponsored_item.image.url }}' alt='{{ sponsored_item.alt_text }}' class='img-responsive'/>
											{% endif %}
											<div class="container" >
													<div class="carousel-caption">
													{% if sponsored_item.draft %}<h3>Staff only: Draft</h3>{% endif %}
													<h1><a href="{{ sponsored_item.get_absolute_url }}">{{ sponsored_item.name }}</a></h1>
													</div>
												</div>	
										{% endfor %}
									{% else %}
									<div class="container" >
                    <h1>Today's hottest Happy Hours</h1>
                    <p>Click Thru to see the best deals we found today!</p>
									</div>
									{% endif %}
              </div>	
          {% if featured.count > 0 %}
            {% for featured_section in featured %}
              <div class="item">
                {% if featured_section.image %}
                <img src='{{ featured_section.image.url }}' alt='{{ featured_section.alt_text }}' class='img-responsive'/>
                {% endif %}
                <div class="container">
                  <div class="carousel-caption">
                    {% if featured_section.draft %}<h3>Staff only: Draft</h3>{% endif %}
                      <h1><a href="{{ featured_section.get_absolute_url }}" role="button">{{ featured_section.name }}</a></h1>
                  </div>
                </div>
              </div> 
            {% endfor %}
          {% endif %}  
        </div>
        <a class="left carousel-control" style="border-radius: 5px" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" style="border-radius: 5px" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div><!-- /.carousel -->
    </div>
  </div> <!-- /container -->
</div>
   
<div class="row marketing">
  <div class="container content-markdown">  
    <div class="col-sm-4">
    {% if hhours.count > 0 %}
	<h3 id="headline" style="text-align: center">Happy Hours and Specials</h3>
      {% for hhours_section in hhours %}
		{% if hhours_section.image %}
		<img src='{{ hhours_section.image.url }}' alt='{{ hhours_section.alt_text }}' class='img-responsive'/>
		{% endif %}	  
          <h4 style="text-align: center; font-weight: bold">{{ hhours_section.name }}</h4>
          {% if hhours_section.draft %}<h5>Staff only: Draft</h5>{% endif %}
          <p>{{ hhours_section.get_description|truncatechars:140 }}</p>
          <p><a type="button" class="btn btn-sm btn-info" href="{{ hhours_section.get_absolute_url }}" >View More</a></p>
      {% endfor %}
    {% endif %}      
    </div>
    
   <div class="col-sm-4" >
    {% if event_posts.count > 0 %}
	<h3 id="headline" style="text-align: center">Events</h3>
      {% for posts in event_posts %}
		{% if posts.image %}
		<img src='{{ posts.image.url }}' alt='{{ posts.alt_text }}' class='img-responsive'/>
		{% endif %}	  
          <p><h4 style="text-align: center; font-weight: bold">{{ posts.title }}</h4><h6>{{ posts.publish }}</h6></p> 
          {% if posts.draft %}<h5>Staff only: Draft</h5>{% endif %} {% if posts_section.publish > today %}<h5>Staff Only: Future Post</h5>{% endif %}
          <p>{{ posts.get_markdown|truncatechars_html:140 }}</p>
          <p><a type="button" class="btn btn-sm btn-info" href="{{ posts.get_absolute_url }}" >View More</a></p>
      {% endfor %}
    {% endif %}      
    </div>	
   <div class="col-sm-4" >
    {% if posts.count > 0 %}
	<h3 id="headline" style="text-align: center">Blog Posts</h3>
      {% for posts_section in posts %}
		{% if posts_section.image %}
		<img src='{{ posts_section.image.url }}' alt='{{ posts_section.alt_text }}' class='img-responsive'/>
		{% endif %}	  
          <p><h4 style="text-align: center; font-weight: bold">{{ posts_section.title }}</h4><h6>{{ posts_section.publish }}</h6></p> 
          {% if posts_section.draft %}<h5>Staff only: Draft</h5>{% endif %} {% if posts_section.publish > today %}<h5>Staff Only: Future Post</h5>{% endif %}
          <p>{{ posts_section.get_markdown|truncatechars_html:140 }}</p>
          <p><a type="button" class="btn btn-sm btn-info" href="{{ posts_section.get_absolute_url }}" >View More</a></p>
      {% endfor %}
    {% endif %}      
    </div>	
	
  </div><!-- /container --> 
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83948604-1', 'auto');
  ga('send', 'pageview');

</script>

{% endblock content %}
