{% extends "base.html" %}
{% load staticfiles %}


{% block script %}


    <script>
        //{% for items in places %}
        //    var lat = {{ items.1 }}
        //    var lng = {{ items.2 }}
        //{% endfor %}
var lat2 = {{ lat2 }};
var lng2 = {{ lng2 }};
var places = [
        {% for items in places %}
        ['{{ items.0 }}', {{ items.1 }}, {{ items.2}}],
        {% endfor %}    
    ];
function initMap() { 
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: lat2, lng: lng2},
      zoom: 13
    });
    var usermarker = new google.maps.Marker({
      position: {lat: lat2, lng: lng2},
      map: map,
      icon: 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png'
    });
    setMarkers(map);     
}
      
function setMarkers(map) { 

        for (var i = 0; i < places.length; i++) {
            var place = places[i];
            var marker = new google.maps.Marker({
              position: {lat: place[1], lng: place[2]},
              map: map,
              title: place[0],
            });
            var contentString = 'title';
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });             
            marker.addListener('click', function() {
                infowindow.setContent(this.title);
                infowindow.open(map, this);
                }); 
        }
  

        
} 
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm98ue18q9vVx4qDCgFD4MtesEYPfphu4&callback=initMap"
    async defer></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83948604-1', 'auto');
  ga('send', 'pageview');

</script>
 
{% endblock %}

{% block styles %}

#map {
    margin: 0;
    padding: 0;
    height: 400px;
}

{% endblock %}

{% block content %}
<div class="row">
    <div class="container" style= "text-align: center">
        <h1>Search Happy Hours and Specials</h1>
    </div>
</div>
<div class='row'>
    <div class='col-sm-6' style="text-align: center">
    <form method='POST' action='' id='search_form'>{% csrf_token %}
        <h3>Happening Now Near Me</h3>
        </br>
        <input class='btn btn-default' type='submit' value='Go Fetch!'>

    </form>
    <h3>or</h3>
    </br>
    <a class="btn-sm btn-info" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Advanced Search
    </a>
    <div class="collapse" id="collapseExample">
      <div class="well">
        <form method='GET' action='' id='advanced_form'>{% csrf_token %}
        {% if lat2 %}
        <input class='form-control' type='text' name='q' placeholder='Please Enter Address/Location' value='{{ str_address }}' required />
        {% else %}
        <input class='form-control' type='text' name='q' placeholder='Please Enter Address/Location' value='{{ request.GET.q }}' required />
        {% endif %}
        </br>
        <div clss="row">
            <div class="col-sm-6">
                Distance: {{ form.distance }} mi.
            </div>
            <div class="col-sm-6">    
                Weekday: {{ form.day }}
            </div>   
        </div>
        </br>
        </br>
        <div clss="row">
            <div class="col-sm-6">
                Start Time: {{ form.start_time }}
            </div>
            <div class="col-sm-6">
                End Time: {{ form.end_time }}  
            </div>
        </div>
        </br>
        </br>
        <input class='btn btn-info' type='submit' value='Search' />
        </form>
      </div>
    </div>
    </br>
    </br>
    {% if places.count > 0 %}    
    {% for places in places %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="{{ neighborhoods.name }}">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ places.4 }}" aria-expanded="false" aria-controls="{{ places.4 }}">
                      {{ places.0 }}
                    </a>
                </h4>
            </div>             
            <div id="{{ places.4 }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ places.0 }}">
      
                <div class="panel-body">
                    <div class="caption" style="text-align: left">
                      <p>{{ places.3}}</p>
                      <p><a href="{{ places.5 }}" class="btn btn-primary" role="button">View</a></p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    {% endfor %}
    {% else %}
                <p><h6>If you have trouble finding anything please try our advanced features to check for different times, or make sure your browser has location services turned on. </h6></p>
    {% endif %}
    
    </div>
    <div class='col-sm-6'>
        <div id="map" style="background-color: white"></div>
    </div>
</div>
</br>
</br>
{% endblock %}

{% block jquery %}
window.onload = function(){
    if(navigator.geolocation)
      navigator.geolocation.getCurrentPosition(onSuccess, onError);
};

function onSuccess(location) {
    $lat2 = location.coords.latitude;
    $lng2 = location.coords.longitude;
    $loc_text = location.coords.latitude + ", " + location.coords.longitude;
    console.log($loc_text);
    $('#search_form').append("<input type='hidden' name='lat2' value='" + $lat2 + "'>");
    $('#search_form').append("<input type='hidden' name='lng2' value='" + $lng2 + "'>");
    $('#advanced_form').append("<input type='hidden' name='lat2' value='" + $lat2 + "'>");
    $('#advanced_form').append("<input type='hidden' name='lng2' value='" + $lng2 + "'>");
};

function onError(){
    console.log("Location not allowed");
};

{% endblock %}
