 body {
   background-color: #f7941d;
   font-family: sans-serif !important;
   font-size: 14px;
}


#headline{
	text-align: center;
	color: white;
	padding: 10px;	
	background-color: #232323;
	font-family: sans-serif !important;
	}


.header {
   background-color: white;
}

#main {
   background-color: white;
   }

#header-item {
   background-color: white;
}

.navbar-brand {
	color:white;
	vertical-align: middle;
}

.navbar-brand:hover {
    color: #f7941d;
}

#navbar a:hover {
    background-color: #f7941d;
}


#fetch-box {
	background-color: #28a4c9;
}

#navbar {
	height: auto;
	font-family: sans-serif !important;
	background-color: #232323;
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}

#navbar-border {
   background-color: #232323;
}

#navbar a {
   color: white;
}

#navbar-toggle {
   background-color: #f7941d;
}

#navbar-toggle .icon-bar {
   background-color: white;
}

.container .jumbotron{
   background-color: #f7941d !important;
   width:100%;
   text-align: center;
   height: 400px;
   font-family: sans-serif !important;
   background-color: #f7941d;
   font-size: 14px;
   font-weight: 600;
   color: white;
     }

#jumbotron-text {
   border: 25px #f7941d;

}

     
.wmd-panel {
   margin-right: 0px !important;
   margin-left: 0px !important;
}


     
