{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<h1>{% trans "Sign Up" %}</h1>

{% load socialaccount %}
{% providers_media_js %}


 {% include "socialaccount/snippets/provider_list.html" with process="login" %}
{% if user.is_authenticated %}
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class='btn btn-success block' type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
{% endif %}

</div>
{% endblock %}